@import "materialize-css/materialize.scss";


@font-face {
    src: "fonts/angelia/Angelia.otf";
    font-family: "angelia";
}

@font-face {
    src: "fonts/coldiac/Coldiac.otf";
    font-family: "coldiac";
}

.site-content{
    width: 64rem;
    height: 200rem;
    border: thin black solid;
}

.top-header{
    height: 40rem;
    border: thin black solid;
}

.logo{
    width: 10%;
}

.top-header-flores{
   width: 10%;
}
